body {
  font-family: sans-serif;
  padding: 20px;
}
form, input {
  margin-bottom: 10px;
}
li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
button {
  margin-left: 5px;
}
